/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}
/* tablet & mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }
    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navbar ul {
        display: none;
    }
    .toggel-menu svg {
        width: 24px;
        color: #666;
    }
    .menu-overlay {
        z-index: 1;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 40px;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }
    .menu-drawer ul {
        margin-top: 32px;
    }
    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        font-weight: 500;
        color: #333;
    }
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}
/* mobile */
@media screen and (max-width: 767px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 30px;
    }
    .navbar .action {
        display: none;
    }
    .separate {
        border-top: 1px solid #ebebeb;
    }
}
