* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* Common */
.contain {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 1.2rem;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn:hover {
    opacity: 0.8;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* =====================Header====================== */
.header {
    background-color: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}
.action {
    margin-left: auto;
}
.navbar .action-btn {
    margin-left: auto;
    padding: 13px 16px;
    border-radius: 8px;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    margin-right: 18px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.hero {
    margin-top: 130px;
}
.hero .info {
    width: 50.36%;
}

.hero .subtitle {
    color: #687690;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.018rem;
}
.hero .title {
    color: #000336;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.1875;
}

.hero .desc {
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    /* line-height / font-size = tỉ lệ */
    line-height: 1.8; /* 177.778% */
    margin-top: 30px;
}

.hero .hero-cta,
.guides .guides-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ============Clients=============== */
.clients {
    margin-top: 79px;
    padding: 43px;
}
.clients .row {
    display: flex;
    justify-content: space-between;
}
.clients .row-desc {
    margin-top: 23px;
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients .images a {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 90px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* ============Guides=========== */
.guides {
    margin-top: 40px;
    padding: 79px 0;
}

.guides .sub-title {
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    position: relative;
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 4.1rem;
    height: 0.4rem;
    border-radius: 1.2rem;
    background: #000339;
}

.guides .desc {
    margin: 20px auto 0 auto;
    width: 45.9rem;
    max-width: 100%;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guides-item {
    margin: 0 70px;
    text-align: center;
}

.guides-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guides-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guides-item .arrow {
    margin-left: 8px;
}

.guides-cta {
    display: flex;
    justify-self: center;
    margin-top: 50px;
}
/* =====Featured Properties===== */
.feature {
    padding: 110px 0;
    background: #f5fafe;
}

.feature .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.feature .row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.feature .desc {
    color: #5a6473;
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.feature .link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}
.feature .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.feature .item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

.feature .list .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feature .item .body {
    padding: 17px 20px 24px;
}

.feature .item .title a {
    display: inline-block;
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
    margin-bottom: 1.1rem;
}
.feature .desc {
    --line-clamp: 3;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 21px;
    word-break: break-all;
}
f .feature .body .info {
    display: flex;
    align-items: center;
}
.feature .body .label {
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.014rem;
    margin-left: 0.8rem;
    margin-right: 23px;
}
.feature .body .label:last-child {
    margin-right: 0;
}

/* ===== Stats ===== */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .contain {
    width: 1048px;
}

.stats .row {
    display: flex;
    justify-content: center;
}

.stats .img-block .stats .info {
    width: 50%;
}
.stats .row {
    position: relative;
}
.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}
.stats .info {
    padding: 79px 0 0 165px;
}
.stats .sub-title {
    width: 269px;
    margin-bottom: 20px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
    position: relative;
}

.stats .sub-title::before {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 4.1rem;
    height: 0.4rem;
    border-radius: 1.2rem;
    background: #000339;
}
.stats .info .desc {
    color: #5a6473;
    width: 310px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}
.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    padding: 45px 22px 40px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1; /* 100% */
    letter-spacing: 0.026rem;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats-trend .separate {
    width: 19.362rem;
    height: 0.12rem;
    background: #e9e9e9;
    margin-top: 25px;
}
.stats-trend .avatar-block {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar {
    object-fit: cover;
    margin-left: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 32px;
}
.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.stats .qty-desc {
    margin-top: 20px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ===== subscription ====== */

.subscription {
    margin-top: 51px;
}

.subscription .body {
    display: flex;
    align-items: center;
    position: relative;
    height: 370px;
    border-radius: 2rem;
    background: #063183;
}

.subscription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background-color: #fff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}
/* footer */
.footer {
    margin-top: 55px;
    padding-top: 55px;
    padding-bottom: 58px;
}

.footer .row {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 42px;
}

.footer .item a,
.footer .desc {
    display: inline-block;
    margin-top: 18px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
}
.footer .desc {
    line-height: 1.75; /* 175% */
    margin-bottom: 40px;
}
.footer .item a {
    white-space: nowrap;
}
.footer .social {
    display: flex;
}
.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #f9f9f9;
}

.social .social-link + .social-link {
    margin-left: 16px;
}
.footer .social-link:hover {
    background: #ebebeb;
    border-radius: 12px;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
